.MuiButton-root {
  color: white !important;
  background-color: transparent !important;
}

.appbar-box {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  z-index: 10;
}

.appbar-button {
  margin: 0 8px;
  color: white;
  background-color: transparent;
  z-index: 20;
}

.appbar-map-icon {
  margin-right: 8px;
}

.appbar-title {
  margin-right: 16px;
  display: flex;
  font-family: "monospace";
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 600px) {
  .appbar-button {
    margin: 0 5px;
  }
}
